Rewriteengine On
RewriteRule ^([A-Za-z]+)/([A-Za-z]+)/?$ 10-10-16-Webservice/app/web.php?classe=$1&met=$2
RewriteRule ^([A-Za-z]+)/([A-Za-z]+)/([0-9]+)/?$ 10-10-16-Webservice/app/web.php?classe=$1&met=$2&arg0=$3 [L] 